@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
	scroll-behavior: smooth;
	/* Firefox */
}

*::-webkit-scrollbar {
	width: 8px;
	background-color: grey;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.app {
	min-height: 98.5vh;
	border: 8px solid #000000;
	/* background-color: white; */
	margin: 5px;
	padding: 5px;
}

.mainImg {
	padding: 10px 0 5px 0;
}
